
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Section principale */
.section1 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Navigation */
nav {
    position: fixed;
    width: 100%;
    padding-top: 2.9rem;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#000000;
    
}

nav ul {
    display: flex;
    align-items: center;
    padding-right: 400px;
    padding-bottom: 40px;
}

nav ul li {
    list-style: none;
    margin: 0.4rem 2rem;
    font-size: 25px;
}

nav img {
    width: 150px;
    padding-bottom: 40px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);   
    position: relative;
    display: inline-block;
}
ul li a span:first-child:before{
    content: ''; 
    position: absolute;
    top:0;
    left:0;
    width: 8px;
    height: 8px;
    background: transparent;
    border-top: 2px solid #f50000;
    border-left: 2px solid#f50000;
    transition: .2s;
    opacity: 0;
 }
 ul li a:hover span:first-child:before{
     top:-10px;
     left:-10px;
     opacity: 1;
 }
 ul li a:hover span:first-child:after{
     top:-10px;
    right:-10px;
     opacity: 1;
 }
 ul li a:hover span:last-child:before{
     bottom:-10px;
     left:-10px;
     opacity: 1;
 }
 ul li a:hover span:last-child:after{
   bottom:-10px;
    right:-10px;
     opacity: 1;
 }
 ul li a span:first-child:after {
     content: ''; 
     position: absolute;
     top:0;
     right:0;
     width: 8px;
     height: 8px;
     background: transparent;
     border-top: 2px solid #f50000;
     border-right: 2px solid #f50000;
     transition: .2s;
     opacity: 0;
  }
  ul li a span:last-child:before{
     content: ''; 
     position: absolute;
    bottom:0;
     left:0;
     width: 8px;
     height: 8px;
     background: transparent;
     border-bottom: 2px solid #f50000;
     border-left: 2px solid #f50000;
     transition: .2s;
     opacity: 0;
  }
  ul li a span:last-child:after {
      content: ''; 
      position: absolute;
      bottom:0;
      right:0;
      width: 8px;
      height: 8px;
      background: transparent;
      border-bottom: 2px solid #f50000;
      border-right: 2px solid #f50000;
      transition: .2s;
      opacity: 0;
   }  

.cart-btn, .login-btn {
    display: flex;
    align-items: center;
    font-size: 25px;
}

.cart-btn i, .login-btn i {
    margin-right: 8px;
}
i:hover{
    color: #f50000;
 
}

.btn {
 
    background-color: #f50000;
    color: rgb(250, 251, 251);
  
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    border-radius: 60px;
    transition: background-color 0.4s, border 0.4s;
    border: 2px solid transparent;
}

.btn:hover {
    background-color: rgb(180, 3, 3);
   
}

/* Formulaire*/
.login-form {
    display: none;
    position: absolute; 
    right: 0; 
    top: 16%; 
    width: 400px; 
    padding: 2rem;
    background-color: #fff; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
}

.login-form.active {
    display: block;
}


.login-form .box {
    width: 100%;
    margin: .7rem 0;
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.8rem;
    border: 1px solid #ccc;
    
}

/* Icônefermeture */
.close-icon {
    cursor: pointer;
    font-size: 1.5rem;
    color: #f50000;
    float: right;
}
/* Icônemenu */
#menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}
#menu-toggle:hover{
    color: #f50000; 
}
#login-btn:hover{
    color:#f50000
}

@media (max-width: 1300px) {
    nav ul {
        margin-top: 75px;
        flex-direction: column;
        display: none; 
        position: absolute;
        top: 70px;
        right: 0;
        background-color:#000000;
        width: 100%;
        padding: 10px;
       
    }

    nav ul li {
        margin: 1rem 0;
      
    }

    #menu-toggle {
        display: block; 
        color: white;
    }

    nav ul.active {
        display: flex;
    }
}

